<h1><%=t ".title", :model => User.human_name %></h1><br />

<% form_for(@user) do |f| %>
  <%#= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f}%>

  <p>
    <%= f.submit t("crud.update") %>
  </p>
<% end %>

<%= link_to t("crud.edit"), @user %> |
<%= link_to t("crud.back"), users_path %>
