<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Loja</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'css_screen' %>
</head>
<body>

  <div id="top">
    <h1><%= link_to 'Loja', :controller => 'showcase' %></h1>
  </div>

  <p style="color: green"><%= flash[:notice] %></p>

  <div id="menu">
  <%= link_to "showcase", :controller => :showcase %> |
  <% if user_logged? %>
    <%= link_to "products", :controller => :products %> |
    <%= link_to "categories", :controller => :categories %> |
    <%= link_to "users", :controller => :users %> |
    <%= link_to "logout", :controller => :authenticate, :action => :logout %><br />
    Olá <%= current_user.login %>
  <% end %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
<script>
  <%= yield :javascript %>
</script>
