  <h2><%= @product.name %>- <%=h @product.price %></h2><br />
  <%= image_tag @product.photo.url %><br /><br />
  <p>
    <%= label :product, :category %>: 
    <%=h @product.category_name %>
  </p>
  <br />
  <pre>
    <%= label :product, :description %>: 
    <%=sanitize @product.description %>
  </pre>
